/* General body styles */
body {
    font-family: 'Arial', sans-serif; 
    background-color: #f9f9f9; 
    margin: 0; 
    padding: 20px; 
}

/* Header styles */
.ui.header {
    text-align: center; 
    color: white; 
    background-color:black;
}


/* Styles for the movie list */
#films {
    max-height: 400px; 
    overflow-y: auto; 
}

/* Styles for each movie item in the list */
.item {
    cursor: pointer; 
    transition: background-color 0.3s; 
}

/* Change background color on hover for movie items */
.item:hover {
    background-color: orange; 
}

/* Card styles for displaying movie details */
.ui.card {
    margin-top: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

/* Styles for the movie poster image */
#poster {
    width: 100%; 
    height: auto; 
}

/* Styles for the button */
.ui.orange.button {
    width: 100%; 
    font-size: 1.2em; 
}

/* Styles for the success message */
#success-message {
    margin-top: 10px; 
}

/* Label styles for showtime */
.ui.label {
    background-color: #ffcc00; 
    color: #000; 
}

/* Styles for remaining tickets display */
#ticket-num {
    font-weight: bold; 
    color: #d9534f; 
}